
.m4 {
    margin: auto;
    display: -webkit-inline-box;
}
div[id]{
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
}



/*Descendant Selectors */

#descendant p span {
    color: gold;
    background-color: black;
}

/*Child Selectors*/

#child > p {
    color: gold;
    background-color: black;
}

/*Adjacent Selectors - selektory sąsiadujące */

#adjacent hr + p{
    color: gold;
    background-color: black;
}

/*Attribute Selectors*/

#attribute p[class]{
    color: gold;
    background-color: black;
}
#attribute p[class~="klasa2"]{ /* tylda "~" przed znakiem równości pozwala wybrać wszystkie elementy które zawierają w zbiorze atrybutu class wartość klasa2 */
    color: red;
}
#attribute a[href$="pdf"]{ /* Znak dolara przed znakiem równości pozwala wybrać wszystkie elementy które wartość atrybutu "href" kończą się wartością pdf*/
    color: red;
}
#attribute a[href^="http"]{ /* Znak "^" przed znakiem równości pozwala wybrać wszystkie elementy które wartość atrybutu "href" ZACZYNA się wartością http*/
    color: green;
}

/*Pseudo Selectors*/

#pseudo a:hover{
    color: gold;
    background-color: black;
}
#pseudo a:active{
    color: red;
    background-color: black;
}
#pseudo a:visited{
    color: red;
    background-color: white
    ;
}

/*First & Last Child Selectors*/

#first-last article p:first-child , #first-last article p:last-child{
    color: gold;
    background-color: black;
}

/*First & Last of Type Selectors*/

#first-last-of p:first-of-type , #first-last-of p:last-of-type{
    color: gold;
    background-color: black;
}

/*nth Child Selectors and nth of type*/

#nth div:nth-of-type(1) li:nth-child(2){
    color: gold;
    background-color: black;
}
#nth div:nth-of-type(2) li:nth-child(even){
    color: gold;
    background-color: black;
}
#nth div:nth-of-type(3) li:nth-child(odd){
    color: gold;
    background-color: black;
}
#nth div:nth-of-type(4) li:nth-child(3n+4){
    color: gold;
    background-color: black;
}

/*Combining Selectors*/

#combining article .combining1{ /*To rozwiązanie nie ma wpływu na dokument ponieważ ta reguła odnosi się do potomka artykułu o klasie .combining1 a nie do artykułu z taką klasą , należy zwrócić uwagę na "spację"*/
    color: gold;
    background-color: black;
}
#combining article.combining1{ /*To rozwiązanie działa , brak spacji między selektorem artykułu a klasą*/
    color: gold;
    background-color: black;
}

/*The Universal Selector*/

/* Selektor jest bezpośrednim selektorem wszystkich tagów w dokumencie

*{
     color: gold;
     background-color: black;
}

*/

